<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/login" method="post">
    <label>Username:</label>
    <input name="username" type="text"/>
    <label>password:</label>
    <input name="password" type="password"/>
    <input type="submit"/>
</form>
</body>
</html>
