<!DOCTYPE html>
<html>
<head>
    <title><%=modelName%> Model</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<table>
    <thead>
    <td>Attribute</td>
    <td>Value</td>
    </thead>
    <tbody>
    <% for(let field in model) {%>
    <tr>
        <td><%= field%></td>
        <td><%= model[field]%></td>
    </tr>
    <%}%>
    </tbody>
</table>
</body>
</html>
